<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Chua Wei Jie">
		<title>Flashcard Dictionary: Popup</title>
		<link rel="shortcut icon" href="images/dictionary-logo-240.png">
		<link rel="stylesheet" href="bootstrap-4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/popup.css">
	</head>
	<body class="pb-0">
		<div class="jumbotron jumbotron-fluid bg-primary p-3">
			<div class="container-fluid">
				<h2 class="text-white text-center">Flashcard Dictionary</h2>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				Toggle Dictionary:
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-outline-primary active">
						<input type="radio" name="options" id="option-on" checked> On
					</label>
					<label class="btn btn-outline-danger">
						<input type="radio" name="options" id="option-off"> Off
					</label>
				</div>
			</div>
			<div class="row justify-content-center">
				<a href="quiz.html" target="_blank" class="btn btn-primary">Practice Vocab</a>
			</div>
			<div class="row justify-content-center">
				<a href="word-list.html" target="_blank" class="btn btn-secondary">List of Words</a>
			</div>
		</div>
	    <script src="bootstrap-4.4.1/js/jquery-3.4.1.slim.min.js"></script>
	    <script src="bootstrap-4.4.1/js/bootstrap.bundle.min.js"></script>
	</body>
</html>